@()

<html>
    <head>
        <title>Reminder Register</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    
    <body>
        <div class="register_form_top">
            <h1>register</h1>
          </div>
        <form name="register_form" action="http://0.0.0.0:8080/register" method="post">
            <input type="id" name="user_id" placeholder="ユーザーID">
            <input type="password" name="password" placeholder="パスワード">
            <input type="password" name="password2" placeholder="パスワード">
            <input type="submit"/>
        </form>
    </body>
</html>