@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
h1 {
    width: 100%;
    text-align: center;
    font-family: 'Itim', cursive;
}

/* ---------- */
div {
    width: 100%;
    display: block;
    /* align-content: center; */
    display: inline-block;
}
input[type=text] {
    width: 60%;
    height: 2.4em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ccc inset;
}

input[type="submit"] {
    width: 15%;
    margin-right: 5%;
    height: 2.4em;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-weight: bold;
}
/* ---------- */
table {
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    color: #333;
    background: white;
    border-top: solid 5px #333;
    box-shadow: 0 3px 5px #333;
}
th, tr {
    text-align: center;
}
.comment {
    font-weight: bold;
    font-size: 1em;
    color: #333;
}
button {
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-weight: bold;
    width: 40%;
}